$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: $red;
  background-image: url("../images/bg-intro-mobile.png");

  @media (min-width: 376px) {
    background-image: url("../images/bg-intro-desktop.png");
  }
}

main {
  padding: 5em 1em;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding: 8em 5em;
  }

  @media (min-width: 1024px) {
    padding: 8em;
  }
}

section {
  padding-bottom: 3em;

  @media (min-width: 768px) {
    &:first-child {
      max-width: 28em;
      padding: 5em 3em 0 0;
    }
  }
}

h1 {
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 0 1em;

  @media (min-width: 768px) {
    padding: 0;
    text-align: left;
    font-size: 36px;
    line-height: 42px
  }
}

.description {
  color: white;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  padding-top: 1em;

  @media (min-width: 768px) {
    padding-top: 1.5em;
    text-align: left;
  }
}

.offer {
  background-color: $blue;
  border-radius: 0.8em;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 1em 4.8em;
  box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.2);
  margin-bottom: 1.5em;

  .highligh-text {
    font-weight: 600;
  }
}

form {
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.2);
}

input {
  margin-bottom: 1.5em;
  padding: 1em 2em;
  border: 1px solid $grayish-blue;
  border-radius: 0.5em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 500;
    opacity: 1;
  }

  &[type="button"] {
    background-color: $green;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
  }

  &.invalid {
    margin-bottom: 2.5em;
    border: 1px solid $red;
  }
}

.input-error {
  position: relative;

  .message {
    position: absolute;
    right: 0;
    bottom: 1em;
    font-size: 0.6em;
    color: $red;
  }

  .icon {
    position: absolute;
    right: 1.25em;
    bottom: 2.2em;
  }
}

.disclaimer {
  text-align: center;
  color: $grayish-blue;
  font-size: 0.6em;
  padding: 0 1.5em;
}

.terms-url {
  color: $red;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}